doctype html
html
  head
    meta(charset='UTF-8')
    title Simple Recorder.js demo with record, stop and pause
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='css/style.css')
  body
    h1 Simple Recorder.js demo
    div
      h2
        u You say
      p#message
    p
      | Check out the 
      a(href='https://github.com/addpipe/simple-recorderjs-demo', target='_blank') code on GitHub
      |  and our 
      a(href='https://addpipe.com/blog/using-recorder-js-to-capture-wav-audio-in-your-html5-web-site/', target='_blank') blog post on using Recorder.js to capture WAV audio
      | .
    #controls
      button#startButton Start
      //
        <button id="recordButton">Record</button>
        <button id="pauseButton" disabled>Pause</button>
      button#stopButton(disabled='') Stop
    #formats Format: start recording to see sample rate
    h3 Recordings
    ol#recordingsList
    // inserting these scripts at the end to be able to use all the elements in the DOM
    script(src='https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js')
    script(src='js/app.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
