.navigation{
    width: 15%;
    position: fixed;
    padding: 15px;
    background-color: #E9EBEE;
    height: 100%;
}
.navigation h1{
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 900;
}
.navigation ul li:hover a{
    text-decoration: underline;
    font-weight: 900;
    transition: 0.1s;
}
.navigation ul li:last-child a{
    font-size: 13px;
    color: black;
}
.main{
    width: 85%;
    float: right;
    padding: 15px;
}
.main .product-list table td img{
    width: 23px;
}